/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT TOP 1000 [Код_сотрудника]
      ,[ФИО]
      ,[Возраст]
      ,[Пол]
      ,[Адрес]
      ,[Телефон]
      ,[Паспортные данные]
      ,[Код_должности]
  FROM [Hospital].[dbo].[Workers]
  where [Код_должности] = 3;